<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="persona2"
          class="com.macv.Persona">
        <constructor-arg index="1" type="java.lang.String" value="Mateo"/>
        <constructor-arg index="0" type="java.lang.Integer" value="1"/>
        <constructor-arg index="2" type="java.lang.String" value="Vasco"/>
    </bean>

    <bean
        id="personaCompleja"
        class="com.macv.PersonaCompleja">
        <constructor-arg value="101"></constructor-arg>
        <constructor-arg value="Mateo"></constructor-arg>
        <constructor-arg ref="domicilioBean"></constructor-arg>
    </bean>

    <bean
        id="domicilioBean"
        class="com.macv.Domicilio"
    >
        <property name="direccion" value="Cra 21A">
        </property>
    </bean>

    <bean
        id="personaCollectionBean"
        class="com.macv.PersonaCollection">
        <property name="id" value="201"/>
        <property name="nombre" value="Mateo"/>
        <property name="domicilios">
            <list>
                <bean id="domicilioLegal" class="com.macv.Domicilio">
                    <property name="direccion" value="CRA 12 #5-76"/>
                </bean>
                <bean id="domicilioParticular" class="com.macv.Domicilio">
                    <property name="direccion" value="CRA 87 #5-96"/>
                </bean>
                <ref bean="domicilioBean"/>
            </list>
        </property>
    </bean>


</beans>